/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intestazione */

header {
    background-color: orange;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

