/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a {
     text-decoration: none;
     color: white;
     cursor: pointer;
     padding-right: 10px;
}

/* intestazione */

header {
    background-color: orange;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container-intestazione {

/* debug     
    background-color: aquamarine;
    border: 1px solid black;*/
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;   
}

nav {

/* debug 
    border: 1px solid black; */
    width: 15%;
    height: 100%;
    padding-top: 10px;
}

#logo-header {

/* debug 
    border: 1px solid black; */
    height: 100%;
    flex-grow: 1;
    text-align: center;
}

.container-intestazione img {
    height: 100%;
}

/* contenuto principale */

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    top: 5%;
    left: 10%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.column {

/* debug 
    background-color: blueviolet;
    height: 150px; 
    border: 1px solid black; */
    width: calc((100% / 3) - (20px / 3));
    position: relative;
}

.column img {
max-width: 100%;
cursor: pointer;
}


/* etichette */

.label-discount {
    background-color: red;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 0;
}

.label-sostenibilita {
    background-color: green;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 13%;
}

#left {
    position: absolute;
    top: 80%;
    left: 0;
}

.discount-item {
    color: red;
    font-weight: bold;
}

.descrizione {
    margin-bottom: 30px;
}

/* immagini hover */


.hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
} 

.container:hover .hover {
    display: block;
}



