/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intestazione */

header {
    background-color: orange;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

/* contenuto principale */

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.column {
    width: calc((100% / 3) - (20px / 3));
    background-color: blueviolet;
    height: 150px;
    border: 1px solid black;
}

/*.column img {
max-width: 100%;
}

